extends layout

block content
  h1= title
  //- if logs
  //-   each log in logs
  //-     .log
  //-       span.mood= log.mood
  //-       span.intensity= log.intensity
  //-       span.description= log.description
  //-       span.timestamp= new Date()
  table#logTable
    thead
      th Timestamp
      th Mood
      th Intensity
      th Description
      th
    tbody
      each item in data
        tr
          td= item.log.toLocaleString()
          td= item.mood
          td= item.intensity
          td= item.description
          td
            a(href=`/updateMood/${item.id}`) Edit
            a(href=`/deleteMood/${item.id}`) Delete
