extends layout

block content
  h1= title
  //- if logs
  //-   each log in logs
  //-     .log
  //-       span.mood= log.mood
  //-       span.intensity= log.intensity
  //-       span.description= log.description
  //-       span.timestamp= new Date()
  table#logTable
    thead
      th Timestamp
      th Mood
      th Intensity
      th Description
      th Situation
      th Thoughts
      th Emotions
      th Physical
      th Actions
      th Meme
      th Alternative Explanations
      th Other comments
      th
    tbody
      each item in data
        tr
          td= item.log.toLocaleString()
          td= item.mood
          td= item.intensity
          td= item.description
          td= item.situation
          td= item.thoughts
          td= item.emotions
          td= item.physical
          td= item.actions
          td= item.memes
          td= item.alternative
          td= item.other
          td
            a(href=`/updateMood/${item.id}`) Edit
            a(href=`/deleteMood/${item.id}`) Delete
